body {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Titillium Web', sans-serif;
    color: #f7f3ea;

}

img {
    max-width: 100%;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}


.container {
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
}

.intro {
    background-color: #87509c;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 600px;

}
.intro__inner {
    margin: 0 10px;
    padding-top: 6%;

}
.intro__nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.nav__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav__link_links {
    margin: 5px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.000em;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    transition: color 0.2s linear;
}

.intro__header {
    margin-top: 20%;
}

.header__title {
    text-align: center;
    color: #f7f3ea;
    font-family: "Titillium Web";
    max-width: 906px;
    font-weight: 700;
    font-size: 32px;
}
.header__button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.header_button_btn {
    background-color: #eb7d4b;
    border-radius: 10px;
    width: 293px;
    height: 70px;
    cursor: pointer;
    border: none;
    text-align: center;
    color: #ffffff;
    font-family: "Titillium Web - Semi Bold";
    font-size: 18px;
    font-weight: 400;
    line-height: 26.19px;
    text-transform: uppercase;
    letter-spacing: 0.27px;
    background-color: #eb7d4b;
}

@media (min-width: 426px) and (max-width: 767px) {
    .container {
        max-width: 740px;
    }
    .intro__nav {
        justify-content: space-between;
    }
    .nav__link_links {
        margin: 5px 10px;
    }
}


@media (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 760px;
    }
    .intro__inner {
        max-width: 750px;
        padding-top: 5%;
    }
    .intro__nav {
        justify-content: space-between;
        margin: 0 auto;
        flex: 0 1 50%;
        flex-direction: row;
    }
    .nav__link {
        margin: 0;
    }
    .nav__link_links {
        padding: 5px 10px;
        margin: 0;
    }

    .nav__link_links:active {
        background-color: rgb(57, 3, 94);
        border-radius: 5px;
    }

    .intro__header {
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20%;
    }

    .header__title {
        margin: 0;
        font-size: 45px;
    }

    .header__button {
        margin-top: 12%;
    }
}

@media (min-width: 1024px) {
    .container {
        min-width: 1000px;
    }
}


/* 2nd PART */

.services {
    background-color: #17c2a4;
    background-size: 100%;
    width: 100%;
    height: 220vh;
}
.services__inner {
    margin: 0 auto;
    padding: 6%;
}
.services__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.texts__title {
    font-family: "Titillium Web";
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.texts__title:after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15;
}

.texts__text {
    margin-top: 2%;
    max-width: 603px;
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
}
.services__column {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;
    margin: 5% 0;
}

.col {
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column__branding {
}
.branding_img {
}
.branding_name {
}
.columntitle {
    margin: 20px 0px 5px;
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}
.branding_text {
    width: 200px;
}

Общий класс для текста в колонках
.columntext { 
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.32px;
}
.column__design {
}
.design_img {
}
.design_name {
}
.design_text {
    width: 200px;
}
.column__development {
}
.development_img {
}
.development_name {
}
.development_text {
    width: 200px;
}
.column__rocketscience {
}
.rocketscience_img {
}
.rocketscience_name {
}
.rocketscience_text {
    width: 200px;
}


                