/* Указываем класс Container чтобы задать определение ширины отдельной части */
/* position:relative;transform: translate(-50%, 0); left 50%;
Таким образом можно перенести текст на центр
 */

html {
    height: 100%;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;

    margin: 0 auto;
    perspective: 1px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
}

p {
    margin: 0;
}
img {
    max-width: 100%;
}



h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



/* Container который определяет в какой области монитора будет расположен весь контент*/

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/* Линия подчеркивания под тайтлами различных частей */
.line {
    background: #300505;
    mix-blend-mode: normal;
    opacity: 0.15;
    width: 90px;
    height: 7px;
    /* margin-top: -5px; */

}


/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85.75539568345324vh;
    background: url(img/background/violet_1stpart.jpg) center no-repeat;
    background-size: cover;
} 

.intro__inner {
    width: 100%;
    max-width: 68.08199121522694vw;
    margin: 0 auto;
}

.intro__title {
    color: #f7f3ea;
    text-align: center;
    font-family: "Titillium Web";
    font-weight: 700;
    font-size: 42px;
    line-height: 48.82px;
}

.intro__title {
    font-size: 42px;
}
 

.head__btn {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.intro__button{
    display: flex;
    justify-content: center;
    background: #eb7d4b;
    color: #ffffcc;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 290px;
    height: 70px;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 320px){
    .intro {
        height: 100vh;
       }
    .intro__inner {
        display: flex;
        max-width: none;
        flex-direction: column;
        height: 400px;

    }   
    .intro__title {
        padding-top: 60px;
        flex: 1 1 auto;
        font-size: 30px;
    }
    }   


/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: 43px;
    font-weight: 700;
    color: #ffffff;
}

/* Nav */
.nav {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav__link:hover {
    background: #643a79;
}

@media screen and ( max-width: 320px) {
    .header {
        padding-top: 0px;
    }
    .header__inner {
        flex-direction: column;
    }
    .nav {
        margin-top: 5px;
        font-size: 15px;
    }
    .nav__link {
        margin: 0;
        padding: 0px 5px;
    }

}


/* Services */

.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 77.08978328173374vh;
    background: url(img/background/green_2ndpart.jpg) center no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.services__inner {
    width: 100%;
    max-width: 69.09361069836552vw;
    margin: 0 auto;
    padding-top: 110px;
}

.services__title {
    position: relative;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #f5f2e9;  
}


.services__title:after {
    margin-top: 18px;
    content: '';
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(0, 0, 0);
    opacity: 0.149;
    width: 87px;
    height: 4px;
    z-index: 299;

}

.services__text{
    padding-top: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 603px;
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
}

@media screen and ( max-width: 320px) {
    .services {
        height: 280vh;
    }
    .services__inner {
        padding-top: 40px;
        max-width: 300px;
    }
    .services__title{

    }
    .services__text {
        font-size: 20px;
        margin-top: 20px;
        width: 100%;
    }

}


/* Services Columns */

.services__columns {
    margin-top: 70px;
    display: flex;
}

.services__columns_row { 
    display: flex;
    flex: 1 1 25%;
}

.skill__column {  /* колонки для сервисов, продублировал чтобы задать разные высоту и ширину для колонки, подставил одинаковые изображения и оказалось не нужным */
    display: flex;
    flex-direction: column; 
    padding: 0px 50px;
}

.services__column_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Services Skills Text */

.titles_serv {
    display: flex;
    justify-content: space-between;
}

.skillname {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.skill_name_text{
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    text-transform: none;
}

@media screen and ( max-width: 320px) {
    .services__columns_row {
        flex: 1 1 100%;
        flex-wrap: wrap;
    }
    .skill__column {
        padding: 0;
        margin-top: 65px;

    }

}

/* Team */

.team {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 920px;
    background: url(img/background/white_3rdpart.jpg) center no-repeat;
    background-size: cover;
}
@media screen and ( max-width: 320px) {
    .team {
        height: 400vh;
    }
}

.team__inner {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding-top: 110px;
    vertical-align: top;
}

@media screen and ( max-width: 320px) {
    .team__inner {
        padding-top: 40px;
    }
}

.team__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #3C4761;
}

.team__text {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 644px;
    color: #3c4761;
    font-family: "Titillium Web";
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.36px;
}

@media screen and ( max-width: 320px) {
    .team__text {
        font-size: 20px;
        margin-top: 20px;
        width: 100%;
    }
}

.team__column {    /* контейнер с колонками имен */
    display: flex;
    flex: 1 1 25%;
    padding: 0px 20px;
}


.name__column{    /* Сами колонки команды. Здесь показано как выровнять колонки по центру */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 73px;   
}

.team__name{
    text-transform: uppercase;
    color: #414960;
    font-size: 24px;
    font-weight: bold;
    margin-top: 43px;
}


.team__salary{   /* Должность в команде */
    font-size: 16px;
    color: #6fb8e5;
    font-weight: 400;
    text-transform: none;
}

.team__about {
    font-size: 16px;
    font-weight: 300;
    color: #414960;
    text-transform: none;
    font-weight: 300;
    text-align: center;
    margin-top: 22px;
}
.team__contacts_1 {    /* Тут разбил на 2 группы по 4 и по 3 иконки, можно было задать для каждой иконки определенный контейнер, походу сфилонил, можно переделать */
    display: flex;
    justify-content: space-between;
    width: 166px;
    margin-top: 30px;
}

.team__contacts_2 {
    display: flex;
    justify-content: space-between;
    width: 122px;
    margin-top: 30px;
}

@media screen and ( max-width: 320px) {
    .team__column {
        flex-wrap: wrap;
        flex: 1 1 100%;
        padding: 10px;
    }
    .name__column {
        margin-top: 20px;
    }
    .team__about {
        margin-top: 5px;
    }

    .team__contacts_1,
    .team__contacts_2 {
        margin-top: 7px;
    }
}



/* SKILLS PART */

.skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 94.67625899280576vh;
    background-image: url(img/background/4rth_part.jpg);
    background-size: cover;
}
@media screen and ( max-width: 320px) {
    .skills {
        height: 230vh;
    }
}

.skills__inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    vertical-align: top;
    padding-top: 110px;
}

@media screen and ( max-width: 320px) {
    .skills__inner {
        padding-top: 40px;
    }
}


.skills__title  {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #3C4761;
}

.skills__text {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 568px;   
    color: #3c4761;
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

@media screen and ( max-width: 320px) {
    .skills__text {
        font-size: 20px;
        margin-top: 20px;
        width: 100%;
    }
}

.skills__tracker_column {
    margin-top: 80px;
}

.skills_row {
    display: flex;
    flex: 1 1 25%;
    flex-wrap: wrap;
}
.scolumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 25%;
    flex-direction: column;
}

.diagramm {
    position: relative;
    display: flex;
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3c4761;
    font-family: "Titillium Web";
    font-size: 50px;
    line-height: 20.84px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.86px;
}
.diagproc {
    font-size: 32px;
    letter-spacing: 0.55px;
}


.webdesign_img {
}

.webdesign_img:before {
    content: url(/CudaAdaptive/img/skills/1.png);
    position: absolute;
}

.html_img {

}
.html_img:before {
    content: url(/CudaAdaptive/img/skills/2.png);
    position: absolute;
}
.gdesign_img:before {
    content: url(/CudaAdaptive/img/skills/3.png);
    position: absolute;

}
.ui_img:before {
    content: url(/CudaAdaptive/img/skills/4.png);
    position: absolute;

}

.diagtext {
    margin-top: 30px;
    color: #3c4761;
    font-size: 24px;
    font-family: "Titillium Web";
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.48px;
}

@media screen and ( max-width: 320px) {
    .skills__tracker_column{
        margin-top: 30px;
    }
    .skills_row {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
    }
    .scolumn {
        padding: 20px;
    }
}







/* PORTFOLLIO PART */

.portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 1423px;
    background: url(img/background/5th_part.jpg) center no-repeat;
    background-size: cover;
}

@media screen and ( max-width: 320px) {
    .portfolio {
        
    }
}



.portf_inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 110px;
    vertical-align: top;
    margin-bottom: 50px;
}
@media screen and ( max-width: 320px) {
    .portf_inner {
        padding-top: 40px;
    }
 }

.portf_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #393939;
}

.portf_text {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 515px;
    color: #393939;
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
}


.portf_links {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    max-width: 380px;
}

@media screen and ( max-width: 320px) {
    .portf_links {
        margin-top: 15px;
    }
  }


.pl {
    color: #393939;
    text-decoration: none;
    transition: color 0.2s linear;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: #ebc985;
    width: 90px;
    margin: 5px 10px;
}

.pl:hover {
    background: #ffffff;
}

.portf_block1, .portf_block2 {
    display: flex;
    margin-top: 60px;
}
.works {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
}

.works_titles {
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 18px;
    margin-top: 30px;
}

.portf_btn {
    display: inline-block;
    position: relative;
    background: #17c2a4;
    color: #ffffcc;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%, 0);
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 290px;
    height: 70px;
    font-size: 18px;
    font-weight: 500;
}


            /* WHAT PEOPLE SAY ABOUT US PART */

.aboutus {
    display: flex;
    flex-direction: column;
    background: url(img/background/6th_part.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 895px;
}

.aboutus_inner {
    width: 100%;
    max-width: 1100px;  /* макс широта потому что макет */
    margin: 0 auto;
    padding-top: 110px;
    vertical-align: top;
}

.about_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}
.about_text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

/* comment container */
.aboutus__comment_container {
    display: flex;
    flex-wrap: wrap;
}

.commentator {
    flex: 0 1 50%;
    margin: 0 auto;
    align-items: center;
}

/* .commentator::before {
    content: url(img/mugshot/Mugshot.png);
    margin: 0px 50px 0px 0px;
} */


.comment__text {
    width: 326px;
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 21px;
    line-height: 31.2px;
    letter-spacing: 0.35px;
}

.comment__name {
    width: 151px;
    color: #ffffff;
    font-family: "Titillium Web";
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
}
.comment__pos {
    width: 170px;
    font-family: "Titillium Web";
    color: #ffdd99;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.36p
    line-height: 26px;
}

   


                /* GET INTOUCH PART*/
   
.intouch {
    display: inline-block;
    background: url(img/background/7th_part.jpg);
    width: 100%;
    height: 819px;
}
.intouch_inner {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding-top: 110px;
}

.intouch_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

.intouch_text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.intouch__inputs_block {
    display: flex;
    flex-direction: column;
} 

.inputs {   /* position:relative;left 50%;transform:translate(-50%,0) можно выронять по центру */

}

.name, .email {
    border: none;
    background-color: #273a71;
    font-size: 18px;
    border-radius: 5px;
    color: #ffffff;
    align-items: center;
    padding-left: 10px;
}

.message {
    border: none;
    background-color: #273a71;
    font-size: 18px;
    border-radius: 5px;
    color: #ffffff;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}
textarea {  /* запрещаем изменение размера в textarea */
    resize: none;
}   

.int_btn {
    display: inline-block;
    position: relative;
    background: #30bae7;
    color: #ffffcc;
    left: 50%;
    margin-top: 10%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 290px;
    height: 70px;
    font-size: 18px;
    font-weight: 500;


}.int_btn:active {
    background: #a53981;
}
.int_btn:hover {
    -webkit-box-shadow: 1px 1px 30px 0px rgba(230,104,230,1);
    -moz-box-shadow: 1px 1px 30px 0px rgba(230,104,230,1);
    box-shadow: 1px 1px 30px 0px rgba(230,104,230,1);
}




/* Social Media Contacts */

.our_contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url(img/background/last.jpg);
    width: 100%;
    height: 112px;
    text-align: center;
    align-items: center;
}

.smlink {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin: 30px;
    transition: color 0.4s linear;
}

.smlink:hover {
    color:#6fb9e5;
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 990px;
    }
    
}

@media screen and ( max-width: 767px) {
    body {
        box-sizing: border-box;
    }
    .container {
        max-width: 99%;
    }

    .aboutus,
    .intouch,
    .our_contacts {
        display: none;
    }
   
    
}