/* Указываем класс Container чтобы задать определение ширины отдельной части */
/* position:relative;transform: translate(-50%, 0); left 50%;
Таким образом можно перенести текст на центр
 */



body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



/* Container который определяет в какой области монитора будет расположен весь контент*/

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/* Линия подчеркивания под тайтлами различных частей */
.line {
    background: #300505;
    mix-blend-mode: normal;
    opacity: 0.15;
    width: 90px;
    height: 7px;
    /* margin-top: -5px; */

}


/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 596px;
    background: url(img/background/violet_1stpart.jpg) center no-repeat;
    background-size: cover;
} 

.intro__inner {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
}

.intro__title {
    font-size: 45px;
    color: #ffffcc;
    text-align: center;
}

.intro__button{
    display: inline-block;
    position: relative;
    background: #eb7d4b;
    color: #ffffcc;
    left: 50%;
    margin-top: 10%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 290px;
    height: 70px;
    font-size: 18px;
    font-weight: 500;
}

/* Header */

.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: 43px;
    font-weight: 700;
    color: #ffffff;
}

/* Nav */
.nav {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav__link:hover {
    background: #643a79;
}


/* Services */

.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 750px;
    background: url(img/background/green_2ndpart.jpg) center no-repeat;
    background-size: cover;
}

.services__inner {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding-top: 110px;
    vertical-align: top;
}

.services__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    
}


.services__text{
    position: relative;
    transform: translate(-50%,0);
    left: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 633px;
    
}

/* Services Icons */

.icons__services{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.skill__column1 {  /* колонки для сервисов, продублировал чтобы задать разные высоту и ширину для колонки, подставил одинаковые изображения и оказалось не нужным */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 192px;
    height: 297px;
}
.skill__column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 173px;
    height: 305px;
}
.skill__column3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 205px;
    height: 296px;
}

.skill__column4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 189px;
    height: 313px;
}

/* Services Skills Text */

.titles_serv {
    display: flex;
    justify-content: space-between;
}

.skillname {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.skill_name_text{
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    text-transform: none;
}


/* Team */

.team {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 920px;
    background: url(img/background/white_3rdpart.jpg) center no-repeat;
    background-size: 100%;
}

.team__inner {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding-top: 110px;
    vertical-align: top;
}

.team__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #3C4761;
}

.team__text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #414860;
}

.team__column {    /* контейнер с колонками имен */
    display: flex;
    justify-content: space-between;
}


.name__column{    /* Сами колонки команды. Здесь показано как выровнять колонки по центру */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 203px;
    height: 493px;
    margin-top: 73px;
}

.team__name{
    text-transform: uppercase;
    color: #414960;
    font-size: 24px;
    font-weight: bold;
    margin-top: 43px;
}


.team__salary{   /* Должность в команде */
    font-size: 16px;
    color: #6fb8e5;
    font-weight: 400;
    text-transform: none;
}

.team__about {
    font-size: 16px;
    font-weight: 300;
    color: #414960;
    text-transform: none;
    font-weight: 300;
    text-align: center;
    margin-top: 22px;
}
.team__contacts_1 {    /* Тут разбил на 2 группы по 4 и по 3 иконки, можно было задать для каждой иконки определенный контейнер, походу сфилонил, можно переделать */
    display: flex;
    justify-content: space-between;
    width: 166px;
    margin-top: 30px;
}

.team__contacts_2 {
    display: flex;
    justify-content: space-between;
    width: 122px;
    margin-top: 30px;
}



/* SKILLS PART */

.skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 658px;
    background: url(img/background/4rth_part.jpg) center no-repeat;
    background-size: cover;
}

.skills__inner {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding-top: 110px;
    vertical-align: top;
}
.skills__title  {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #3C4761;
}

.skills__text {
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #414960;
    width: 598px;
}

.skills__column {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}


/* PORTFOLLIO PART */

.portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1423px;
    background: url(img/background/5th_part.jpg) center no-repeat;
    background-size: cover;
}

.portf_inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 110px;
    vertical-align: top;
}

.portf_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #393939;
}

.portf_text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #393939;
}


.portf_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    width: 380px;
    position: relative;
    transform: translate(-50%,0);
    left: 50%;
    

}

.pl {
    color: #393939;
    text-decoration: none;
    transition: color 0.2s linear;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ebc985;
    width: 90px;
}

.pl:hover {
    background: #ffffff;
}

.portf_block1, .portf_block2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.works_titles {
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 18px;
    margin-top: 30px;
}

.portf_btn {
    display: inline-block;
    position: relative;
    background: #17c2a4;
    color: #ffffcc;
    left: 50%;
    margin-top: 80px;
    transform: translate(-50%, 0);
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 290px;
    height: 70px;
    font-size: 18px;
    font-weight: 500;
}


/* WHAT PEOPLE SAY ABOUT US PART */

.aboutus {
    display: flex;
    flex-direction: column;
    background: url(img/background/6th_part.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 895px;
}

.aboutus_inner {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding-top: 110px;
    vertical-align: top;
}

.about_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}
.about_text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}




/* GET INTOUCH */
.intouch {
    display: flex;
    flex-direction: column;
    background: url(img/background/7th_part.jpg);
    width: 100%;
    height: 819px;
}
.intouch_inner {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding-top: 110px;
    vertical-align: top;
}

.intouch_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

.intouch_text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.inputs1 {    /* position:relative;left 50%;transform:translate(-50%,0) можно выронять по центру */
    display: flex;
    justify-content: space-between;
    width: 864px;
    margin-top: 40px;
    position: relative;
    transform: translate(-50%,0);
    left: 50%;
}

.name, .email {
    width: 417px;
    height: 59px;
    border: none;
    background-color: #273a71;
    font-size: 18px;
    border-radius: 5px;
    color: #ffffff;
    align-items: center;
    padding-left: 10px;
}

.inputs2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative;
    transform: translate(-50%,0);
    left: 50%;
}

.message {
    width: 864px;
    height: 200px;
    border: none;
    background-color: #273a71;
    font-size: 18px;
    border-radius: 5px;
    color: #ffffff;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;

}   

.int_btn {
    display: inline-block;
    position: relative;
    background: #30bae7;
    color: #ffffcc;
    left: 50%;
    margin-top: 10%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 290px;
    height: 70px;
    font-size: 18px;
    font-weight: 500;
}




/* Social Media Contacts */

.our_contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url(img/background/last.jpg);
    width: 100%;
    height: 112px;
    text-align: center;
    align-items: center;
}

.smlink {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin: 30px;
    transition: color 0.4s linear;
}

.smlink:hover {
    color:#273a71;
}

.required {
    color: red;
}